
.services_inner {
    padding-top: 40px;
}
.services_h2{
     text-align: center;  
     margin-bottom: 20px;
}
.services_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
.services_content_inner{
    max-width: 512px;
  }
  
.img_services:hover {
    
}
.services_content_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: black;
}
.services_cotent_title {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

}
.services_list {
    margin-bottom: 20px;
}
.services_item::before{
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin:5px 10px;
}
.services_item {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.services_btn{
    border-radius: 20px;
    padding: 10px 5px 10px 15px;
    background: #65E190;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.services_btn:hover{
    box-shadow: 2px 2px 2px green;
}

@media (min-width: 1024px){
    .services_inner {
        padding-top: 88px;
    }
    .services_h2{
        text-align: left;
        margin-bottom: 40px;
    }
    .services_content {    
        flex-direction: row;
        align-items: center;
        gap: 100px;
    }
    .services_content_inner{
        flex: 1;
    }
}