.transformation {
    padding: 40px;
}
.transformation_inner {
    text-transform: uppercase;
}
.transformation_title{
    text-align: center;
    padding: 20px;
}
.transformation_content {
    max-width: 788px;
    margin: 0 auto;
    background-image: url(../img/svgicons/transformation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.transformation_img {
    display: block;
    padding: 168px 0;
    margin: 0 auto;
}


@media (min-width: 768px){
    .transformation {
        padding: 88px;
    }
    .transformation_inner {
        text-transform: uppercase;
    }
    .transformation_title{
        text-align: center;
        padding: 40px;
    
    }
}